.lib_diary {
    background: rgba(241, 243, 245, 1);
    border-radius: 19px;
    padding: 5px;
    margin: 15px 0 0 0;
}

.lib_diaryTitle {
    display: flex;
    font-size: 18px;
    margin: 5px 0 0 0;
}

.lib_diaryTitleIco {
    width: 25px;
    height: 25px;
    transform: scale(0.5);
    border-radius: 100%;
    margin: 0 2px;
    background-color: rgb(70, 70, 70);
}

.lib_diaryText {
    background: rgb(229, 229, 229);
    margin: 10px 3px 3px 3px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}
.lib_diaryCodeInline{
    display:inline-block;
}
.lib_diaryCodeBox{
    display:block;
}
.lib_diaryCodeBox,.lib_diaryCodeInline{
    background-color: rgb(44,44,44);
    margin: 0 3px;
    padding: 4px;
    color: white;
    font-size: 14px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}
.lib_link{
    border-bottom:6px solid rgb(112,192,0);
    color: black;
}
