/*
 * 主页背景 部分
*/
body {
    font-family: '微软雅黑 light';
    margin: 0;
    min-height: 100vh;
    background-color: #96e6a1;
    background-image:
        radial-gradient(closest-side, #84fab0, rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, #4facfe, rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, #96e6a1, rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, #8fd3f4, rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, #a6c0fe, rgba(248, 192, 147, 0));
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
}

.blurbg {
    position: fixed;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px) brightness(0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.00);
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax -30vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 100vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }

    75% {
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}

/*
    公共
    
*/
* {
    box-sizing: border-box;
    outline: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-y;
    font-family: '微软雅黑 light';
}

a:-webkit-any-link {
    color: rgb(60, 60, 60);
    text-decoration: underline;
    text-decoration-color: #000000;

}

/*
 * alertBox 警告窗口
*/
.alertBox {
    width: 600px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    box-shadow: rgba(0, 0, 0, .05) 0 10px 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.alertBox h1 {
    line-height: 26px;
    padding: 0 0 10px 0;
    font-size: 20px;

}

.alertBoxText {
    overflow: hidden;

    padding: 0 4px 0 0;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 24px;
    height: 400px;
    max-height: 400px;

}

.alertBoxTextBox {
    padding: 10px;
    word-break: break-all;
    overflow: auto;
    height: 400px;
    max-height: 400px;
}

.alertBoxTextBox::-webkit-scrollbar {

    width: 5px;
}

.alertBoxTextBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

@media screen and (max-height:560px) {
    .alertBox {
        top: 30px;
        height: calc(100% - 60px);

    }

    .alertBoxTextBox {
        max-height: 100%;
    }

    .alertBoxText {
        max-height: calc(100% - 62.8px);
    }
}

.alertBoxButtomFlexBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    height: 50px;
    margin: 10px 0 0 0;
    justify-content: center
}

.alertBoxButtomBox {}

.alertBoxButtomBox button {
    padding: 18px 38px;
    background-color: #999999;
    border-radius: 9px;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
}

.topBar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    height: 32px;
    color: #fff;
    gap: 18px;
    line-height: 32px;
}

.topBarBeforeBox {
    margin: 0 0px 0 20px;
}

.GuLiText {
    color: white;
    text-align: right;
}

.searchInput {
    margin: 0px 0 30px 30px;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    width: 20em;
    border-radius: 12px;;padding: 8px;

}
@media screen and (max-width:580px) {
    .searchInput {
        margin: 0px 30px 30px 30px;
        width: calc(100% - 80px);
    }
}
.scb{
    display: flex;
    gap: 15px;
    margin: 0px 0 30px 30px;
}
.srselcbox{display: inline-block;
    height:45px;width: 75px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}

.srselcimg{
    height:37px;width: 37px;
    margin: 4px 18px;
}

.srselcbox-sc {display: inline-block;
    height:45px;width: 75px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    border: rgba(0, 0, 0, 0.2) solid 2px;
}
.srselcbox-sc .srselcimg{
    height:37px;width: 37px;
    margin: 2px 16px;
}
