
#playerBox{
	background-color: rgba(246, 246, 255,1.0);
	border-radius: 25px;
	height: 100%;
    width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
    padding: 25px 0;
    transform: translate(0,-25px) scale(1);
    opacity: 1;
	position: fixed;
	backdrop-filter: blur(4px);
	z-index: 101;
	transition: all 0.5s cubic-bezier(0.30, 0.50, 0.25, 0.90);
}

#backlab{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 230px;
    width: 100%;padding: 0 10px;
    transition: all 0.5s cubic-bezier(0.30, 0.50, 0.25, 0.90);
}
#backlab::-webkit-scrollbar {/*滚动条整体样式*/
    width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
    padding: 0 0px;
    transition: all 0.5s cubic-bezier(0.30, 0.50, 0.25, 0.90);
}
#backlab::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    width: 8px;  
    background-color: rgb(61,61,61);
    transition: all 0.5s cubic-bezier(0.30, 0.50, 0.25, 0.90);
}
#backlab::-webkit-scrollbar-track {/*滚动条里面轨道*/}

#musicInput{
	height: 42px;
    border-radius: 11px;
	margin: 6px 12px 6px 12px;
    background-color: rgba(246, 246, 255,1.0);
	outline: none;
    float: right;
	border: 0;
    transition: all 0.5s cubic-bezier(0.30, 0.50, 0.25, 0.90);
	width: 240px;
}
.mulabone{
    margin: 8px 10px;
    border-radius: 11px;
    padding: 0px 0px 0 0px;
    background: rgba(0, 0, 0, 0.08);
    height: 200px;
    width: max-content;
    background: no-repeat center center;
	background-size: cover;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.30, 0.50, 0.25, 0.90);
    animation: example10001 0.6s cubic-bezier(0.35, 0.60, 0.15, 1.30) ;
}
.mulabone:hover{
    transform: scale(1.05);
}
.mulabonea{
    margin: 0 0 0 20px;
    font-size: 18px;
    height: 0;
    z-index: 2;
    color: white;
    padding-top: 150px;
    transition: all 0.3s cubic-bezier(0.30, 0.50, 0.25, 0.90);
    
}

.mulabonec{
    font-size: 18px;
    overflow: hidden;
    margin: 0 100px 0 20px;
    height: 0;
    z-index: 2;
    color: white;
}
.mulaboneb::before{
    content: "  ";
}
.mulaboneb{
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    white-space:nowrap;
    color: white;
}
.bg3{
    border-radius: 11px;
    height: 200px;
	backdrop-filter: brightness(0.8) blur(18px);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.30, 0.50, 0.25, 0.90);
}
.mulabone:hover .bg3{
    backdrop-filter: brightness(1) blur(0px);
}
.mulabone:hover .mulabonea{
    text-shadow: 0px 0px 12px #000000;
}
@keyframes example10001 {
	0% {
        transform: translate(20px, 0px);
        opacity: .5;
	}

	100% {
        transform: translate(0, 0px);
        opacity: 1.;
	}
}

